@use "bootstrap";
@use "./partials/colors" as*;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    background-color: $primary-color;

    .my-container {
        width: 1000px;
        min-width: 80%;
        margin: auto;
    }
}